body {background:white url(bg_whiteflag.jpg) no-repeat top right;
  background-position:top right;
  margin:0;padding:0;}

p, td, tr, b, i, u, h1, h2, h3, ul, li, a { font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;}
    
a { font-weight:bold;}

h1 {    font-size: 13pt; }

h2 {    font-size: 10pt;}

h3 {    font-size: 10pt;}

.small {    font-size: 9pt;}


img {border:0;}
a img {border:0;}
img.preview {width:90%; margin:10px; border:1px solid #eeeeee; display:block;}

/* Boxes */

.box {
  margin:2%;
  padding:1%;
  border: 1px solid #CCCCCC;
  background:url(bg_grey.png);
}

/* Note the procentual widths don't fit 100% as there are the few px borders to count into as well */

#Logo {
  float:left;
  width:17%;
  margin:2%;
  padding:1%;}

#Pictures {float:left;width:17%;}

#Disclaimer, #Feedback {float:right;width:17%;}

#Titel, #Description,#Facts 
{width:67%;float:right;}

 #Credits, #History, #Installation, #Uninstall, #Misc, #About 
{width:67%;float:left;}
